/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

//Box Making Characters 
//┌ ┬ ┐ 

//├ ┼ ┤ │  ─ 

//└ ┴ ┘

/* TODO:
* Add symbol keycodes
*Add bluetooth profile Macro
*Finish bluetooth profile implementation
*General clean up
*/

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

//Layer Defines
#define QWERTY  0
#define NAV     1
#define SYMB    2
#define SPECIAL 3
#define MEDIA   4

// Mouse keys
#include <dt-bindings/zmk/pointing.h>
#define ZMK_POINTING_DEFAULT_MOVE_VAL 700  // default: 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 10    // default: 10

//Mouse Abreviations
#define MVLFT MOVE_LEFT
#define MVDWN MOVE_DOWN
#define MVUP  MOVE_UP
#define MVRGT MOVE_RIGHT


//Bluetooth mod taps to prevent accidental profile changes
#define BTS BT_SEL
//#define BTP1 "BT_SEL 1, &none"
//#define BTP2 "BT_SEL 2, &none" 
//#define BTP3 "BT_SEL 3, &none"


/ {
    behaviors {
        ltd0: tap_dance_0 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&mo NAV>, <&mo SYMB>, <&tog SYMB>;
        };
        rtd0: tap_dance_1 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&mo SYMB>, <&mo NAV>, <&tog NAV>;
        };
//      hbt: mod_tap {
//          compatible = "zmk,behavior-hold-tap";
//          #binding-cells = <1>;
//          flavor = "hold-preferred";
//          tapping-term-ms = <200>;
//          bindings = <&bt BT_SEL>, <&none>;
//          display-name = "hold-to-change";
//      };
    };





        keymap {
                compatible = "zmk,keymap";

                default_layer {
                        bindings = <
// ┌───────────┬──────────┬──────────┬──────────┬──────────┬──────────┐            ┌──────────┬──────────┬──────────┬──────────┬──────────┬──────────┐
// │ TAB/ESC   │   Q      │   W      │   E      │   R      │   T      │            │   Y      │   U      │   I      │   O      │   P      │  BSPC    │
    &mt ESC TAB  &kp Q     &kp W       &kp E      &kp R      &kp T                   &kp Y      &kp U      &kp I      &kp O     &kp P      &kp BSPC
// ├───────────┬──────────┼──────────┼──────────┼──────────┼──────────┤            ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
// │   CTRL    │   A      │   S      │   D      │   F      │  G       │            │   H      │   J      │   K      │   L      │   ;      │ ' / RCTL │
     &kp LCTRL    &kp A      &kp S      &kp D      &kp F     &kp G                   &kp H       &kp J      &kp K      &kp L     &kp SEMI  &mt SQT RCTL
// ├───────────┼──────────┼──────────┼──────────┼──────────┼──────────┤            ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
// │  SHFT     │  Z       │  X       │  C       │  V       │  B       │            │   N      │  M       │  ,       │  .       │  /       │ SHFT     │
     &kp LSHFT   &kp Z      &kp X      &kp C      &kp V      &kp B                    &kp N     &kp M      &kp COMMA  &kp DOT    &kp FSLH   &kp RSHFT
// └───────────┴──────────┴──────────┼──────────┼──────────┼──────────┤            ├──────────┼──────────┼──────────┼──────────┴──────────┴──────────┘
//                                   │  GUI     │ L LYRCTL │  ENT     │            │  SPC     │ R LYRCTL │  ALT     │
                                       &kp LGUI    &ltd0      &kp RET                &kp SPACE   &rtd0     &kp RALT
//                                   └──────────┴──────────┴──────────┘            └──────────┴──────────┴──────────┘
                        >;
                };
                lower_layer {
                        bindings = <
// ┌───────────┬──────────┬──────────┬──────────┬──────────┬──────────┐            ┌──────────┬──────────┬──────────┬──────────┬──────────┬──────────┐
// │           │   ` / ~  │   [      │   ]      │    |     │   = / +  │            │ MSMV_LFT │ MSMV_DWN │ MSMV_UP  │ MSMV_RGT │          │          │
      &trans    &kp GRAVE   &kp RBKT   &kp LBKT   &kp R     &kp EQUAL               &mmv MVLFT &mmv MVDWN &mmv MVUP  &mmv MVRGT   &none      &none
// ├───────────┬──────────┼──────────┼──────────┼──────────┼──────────┤            ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
// │           │          │   (      │    )     │  \ / |   │  - / _   │            │   LFT    │   DWN    │   UP     │   RGT    │  MDLCLK  │          │
      &trans      &none     &kp LPAR   &kp RPAR   &kp BSLH  &kp MINUS                 &kp H       &kp J      &kp K      &kp L    &mkp MCLK   &none
// ├───────────┼──────────┼──────────┼──────────┼──────────┼──────────┤            ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
// │           │          │   {      │    }     │ "/" / ?  │          │            │ BT CLEAR │  BTP 0   │  BTP 1   │  BTP 2   │  BTP 3   │ TO BASE  │
      &trans      &none     &kp LBRC   &kp RBRC   &kp FSLH    &none                 &bt BT_CLR  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3 &to QWERTY
// └───────────┴──────────┴──────────┼──────────┼──────────┼──────────┤            ├──────────┼──────────┼──────────┼──────────┴──────────┴──────────┘
//                                   │          │          │          │            │ LFTCLK   │          │  RGTCLK  │
                                       &trans      &trans     &trans                &mkp LCLK    &trans    &mkp RCLK
//                                   └──────────┴──────────┴──────────┘            └──────────┴──────────┴──────────┘
                        >;
                };
                raise_layer {
                        bindings = <
// ┌───────────┬──────────┬──────────┬──────────┬──────────┬──────────┐            ┌──────────┬──────────┬──────────┬──────────┬──────────┬──────────┐
// │           │          │          │          │          │          │            │  TAB     │  7 / &   │  8 / *   │  9 / (   │          │          │
       &none      &none      &none      &none      &none      &none                  &kp TAB     &kp N7     &kp N8     &kp N9     &none      &trans
// ├───────────┬──────────┼──────────┼──────────┼──────────┼──────────┤            ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
// │           │          │          │          │          │          │            │  0 / )   │  4 / $   │  5 / %   │  6 / ^   │          │          │
       &none      &none      &none      &none      &none      &none                   &kp N0     &kp N4     &kp N5     &kp N6     &none    &to QWERTY
// ├───────────┼──────────┼──────────┼──────────┼──────────┼──────────┤            ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
// │                                                                  │            │     ,    │  1 / !   │  2 / @   │  3 / #   │          │          │
       &none      &none      &none      &none      &none      &none                 &kp COMMA    &kp N1     &kp N2     &kp N3     &none      &trans   
// └───────────┴──────────┴──────────┼──────────┼──────────┼──────────┤            ├──────────┼──────────┼──────────┼──────────┴──────────┴──────────┘
//                                   │          │          │          │            │          │          │          │
                                       &trans      &trans     &trans                  &trans     &trans     &trans
//                                   └──────────┴──────────┴──────────┘            └──────────┴──────────┴──────────┘
                        >;
                };
        };
};
